
body {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

div {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    div {
        width: 300px;
        height: 300px;
    }

}